<h1>Bookmarks </h1>
<h2>Welcome, <%= $user.email %></h2>
<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tag: <% link.tags.each do |tag| %><%= tag.name %>, <% end %>
  </li>
  <% end %>
</ul>
